redis==3.0.0
redis-py-cluster
Flask
Flask-Cors
Flask-MySQL
Flask-Redis
cx_Oracle
PyMySQL
pandas
numpy
scipy
Uwsgi
dateparser
xlrd
sqlalchemy
flask-restful
flasgger
flask-sqlalchemy
schedule
pycurl
rsa
python-gnupg
xlwt
openpyxl
sqlacodegen
Flask-Migrate
py2neo
XlsxWriter
requests
kafka-python
networkx
