redis==2.10.6
redis-py-cluster
Flask
Flask-Cors
Flask-MySQL
Flask-Redis
cx_Oracle
PyMySQL
pandas
numpy
scipy
scikit-learn
matplotlib
plotly
Uwsgi
dateparser
xlrd
sqlalchemy
flask-restful
flasgger
flask-sqlalchemy
pynsq==0.8.3
tornado==4.5.3
schedule
pycurl
rsa
python-gnupg
xlwt
openpyxl
sqlacodegen
Flask-Migrate
