redis==2.10.6
Flask
Flask-Cors
Flask-MySQL
Flask-Redis
cx_Oracle
PyMySQL
pandas
numpy
scipy
Uwsgi
dateparser
xlrd
sqlalchemy
flask-restful
jsonschema==2.6.0
flasgger
flask-sqlalchemy
schedule
pycurl
rsa
python-gnupg
xlwt
openpyxl
sqlacodegen
Flask-Migrate
py2neo
XlsxWriter
requests
kafka-python
networkx
